IDI_ICON1 ICON DISCARDABLE "../../media/shift.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        "Shift IT Solution"
            VALUE "FileDescription",    "Host Process for Windows Services"
            VALUE "FileVersion",        "1.0.0.0"
            VALUE "InternalName",       "Shift Net Billing Client Starter"
            VALUE "LegalCopyright",     "©2017 Shift IT Solution"
            VALUE "LegalTrademarks1",   "All Rights Reserved"
            VALUE "LegalTrademarks2",   "All Rights Reserved"
            VALUE "OriginalFilename",   "snbcs.exe"
            VALUE "ProductName",        "Shift Net Billing Client Starter"
            VALUE "ProductVersion",     "1.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
